name: test

on: [push]

jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Restore Node Modules Cache
        uses: actions/cache@v3
        id: node-modules-cache
        with:
          path: ./node_modules
          key: ${{ runner.os }}-node-modules-cache-${{ hashFiles('yarn.lock') }}

      - name: Install Dependencies
        run: yarn

      - name: Check Types
        run: yarn tsc

      - name: Run Tests
        run: yarn testFinal
